 /* Reset */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: normal;
}

body {
    font-family: 'Montserrat', cursive;
}

p {
    font-size: 1rem;
}


/* Main content */

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(110, 70, 70);
    min-height: 100vh;
    width: minmax(100vw, auto);
    background-image: url('../dist/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* Homepage */ 

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 20vh;
    justify-content: center;
    gap: 20px;
    background-color: rgba(0,0,0,0.9);
    color: rgba(255,255,255,0.9);
    width: 100%;
}

header h1 {
    font-style: italic;
    font-size: 3rem;
}

.navBtn {
    cursor: pointer;
    background-color: transparent;
    color: white;
}

.navBtn.active {
    border-bottom: 2px white solid;
}

nav {
    display: flex;
    gap: 5px;
}

button {
    font-size: 1.1rem;
    padding: 0 15px 15px 15px;
    border: none;
}

button:hover {
    transform: translateY(-10%);
    transition: 0.3s ease-in-out;
}

main {
    background-color: rgba(0,0,0,0.45);
    border: solid 1px black;
    max-width: 700px;
    margin: 100px 200px;
    color: white;
    font-size: 2rem;
    padding: 50px 50px;
}

/* Footer */

footer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0,0,0,0.6);
    height: 50px;
    width: 100%;
}

footer img {
    width: 45%;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover {
    color: rgba(255,255,255,0.7)
}

.home {
    width: 600px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
    animation: fadeIn 1.5s;
}

.home p {
    font-size: 2rem;
}

.cookImg {
    border-radius: 50%;
    height: 250px;
    width: 300px;
    
}

/* Menu page */

.menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 600px;
    animation: fadeIn 1.5s;
}

.recipeItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    padding: 2rem;
}

.recipeItem:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.4s;
}



.recipeItem img {
    width: 75%;
}

/* Contact page */

.contactPage {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 600px;
    animation: fadeIn 1.5s;
}

.contactPage img {
    width: 600px;
    height: 350px;

}


/* Media queries */

@media (min-width: 700px) {
    .menu {
        grid-template-columns: repeat(2, 1fr);
    }

    .recipeItem img {
        width: 100%;
    }
}


/* Animation */

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }